main {
  display: flex;
  justify-content: center;
}

#game {
  width: 500px;
  height: 500px;
  border: solid black 1px;
  display: flex;
  flex-wrap: wrap;
  
}

#game div {
  width: 20px;
  height: 20px;
}

.var {
  background-color: aqua;
  border-radius: 10px;
}

.let-hero {
  background-color: aquamarine;
}

.results {
  color: blue;
  background-color: aqua;
}

.let-projectile {
  background-image: url("./resources/imgs/lets.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}

.explosive {
  background-color: rebeccapurple;
}